* {
	margin:0;	
	box-sizing:border-box;
}
html,body {
	font-size:16px;
	font-family:"Open Sans", Sans Serif;
}

.wrapper {
	width:620px;
	margin:0 auto;	
}
.title {
	text-align:center;
}
/*buttons*/
.button {
	display:inline-block;
	width:140px;
	height:40px;
	border-radius:100px;	
	text-align:center;	
	padding:0;
}
.button:hover {
	cursor:pointer;
}
.button__button-label {
	display:inline-block;
	font-family:"Open Sans";
	font-weight:600;
	font-size:12px;
	height: 100%; 
	line-height:40px;
}
.button_theme_blue {
	background-color: #1e8bc3;
	color: #ffffff;
	border:none;
}
.button_theme_white {
	background-color: #ffffff;
	border: solid 1px #e5e5e5;
	color: #2c3239;
}
.button_theme_blue:hover {
	background-color: #239fde;
}
.button_theme_blue:active {
	background-color: #1875a5;
}
.button_theme_white:hover {
	background-color: rgba(229, 229, 229, 0.2);
}
.button_theme_white:active {
	background-color: rgba(229, 229, 229, 0.4);
}

/*radio*/
.radio:hover {
	cursor:pointer;
}
.radio__radio-input {
	display:none;
}
.radio__radio-visible {
	width: 16px;
	height: 16px;
	border: solid 1px #e5e5e5;
	border-radius:50%;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.radio__radio-label {
	font-size: 12px;
	font-weight: 600;
	color: #9b9b9b;
	display: inline-block;
	vertical-align: middle;
}
.radio__radio-input:hover, .radio__radio-visible:hover {
	background-color: rgba(229, 229, 229, 0.2);
}
.radio__radio-input:checked + .radio__radio-visible:before {
	content: "";
	width:16px;
	height:16px;
	position: absolute;
	top: -1px;
	left: -1px;
	border-radius:50%;
	background-color: #1e8bc3;
}
.radio__radio-input:checked + .radio__radio-visible:after {
	content: "";
	width:6px;
	height:6px;
	position: absolute;
	top: 4px;
	left: 4px;
	background-color:#ffffff;
	border-style:none;
	border-radius:50%;
}
.radio__radio-input:disabled + .radio__radio-visible:before{
	content: "";
	width:16px;
	height:16px;
	position: absolute;
	top: -1px;
	left: -1px;
	border-radius:50%;
	background-color: #e5e5e5;
	cursor:default;
}
.radio__radio-input:disabled + .radio__radio-visible:after {
	content: "";
	width:6px;
	height:6px;
	position: absolute;
	top: 4px;
	left: 4px;
	background-color:#ffffff;
	border-style:none;
	border-radius:50%;
	cursor:default;
}
/*checkbox*/
.checkbox:hover {
	cursor:pointer;
}
.checkbox__checkbox-input {
	display:none;
}
.checkbox__checkbox-visible {
	width: 16px;
	height: 16px;
	border: solid 1px #e5e5e5;
	border-radius:3px;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}
.checkbox__checkbox-visible__icon{
	position:absolute;
	left:3px;
	top:4px;
	opacity:0;
}
.checkbox__checkbox-label {
	font-size: 12px;
	font-weight: 600;
	color: #9b9b9b;
	display: inline-block;
	vertical-align: middle;
}
.checkbox__checkbox-input:hover, .checkbox__checkbox-visible:hover {
	background-color: rgba(229, 229, 229, 0.2);
}
.checkbox__checkbox-input:checked + .checkbox__checkbox-visible:before {
	content: "";
	width:16px;
	height:16px;
	position: absolute;
	top: -1px;
	left: -1px;
	border-radius:3px;
	background-color: #1e8bc3;
}
.checkbox__checkbox-input:disabled + .checkbox__checkbox-visible:before{
	content: "";
	width:16px;
	height:16px;
	position: absolute;
	top: -1px;
	left: -1px;
	border-radius:3px;
	background-color: #e5e5e5;
	cursor:default;
}
.checkbox__checkbox-input:disabled+ .checkbox__checkbox-visible .checkbox__checkbox-visible__icon{
	opacity:1;
}
.checkbox__checkbox-input:checked + .checkbox__checkbox-visible .checkbox__checkbox-visible__icon{
	opacity:1;
}
/*Placeholder*/
.placeholder {
	width:140px;
	height:40px;
	color:#9b9b9b;
	border-radius:3px;
	border: solid 1px #e5e5e5;
	padding-left:15px;
}

::-webkit-input-placeholder {
	color:#9b9b9b;
	font-size: 14px;
	text-overflow:ellipsis;
	}
::-moz-placeholder {
	color:#9b9b9b;
	font-size: 14px;
	text-overflow:ellipsis;
	}/
:-moz-placeholder {
	color:#9b9b9b;
	font-size: 14px;
	text-overflow:ellipsis;
	}
:-ms-input-placeholder {
	color:#9b9b9b;
	font-size: 14px;
	text-overflow:ellipsis;
	}
/*SelectList*/
.select-list {
	position:relative;
	font-size: 12px;
	min-width:140px;
	height:40px;
	color:#9b9b9b;
	border-radius:3px;
	border: solid 1px #e5e5e5;
	background-color:#fff;
	text-align:left;
	padding-left:15px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url(../png/icon.png) ;
	background-position: 115px center;
	background-repeat: no-repeat;
}
.select-list:hover {
	cursor:pointer;
}	
	
/*DeleteForm*/	
.delete-form {
	width:300px;
	height:205px;
	border-radius: 10px;
	text-align:center;
	position:relative;
}
.delete-form__delete-text {
	width:200px;
	margin:0 auto;
	font-size:12px;
	font-weight: 600;
	padding:50px 30px 0 30px;

}	
.delete-form_style_blue {
	background-color: #1e8bc3;
}		
.delete-form__button {
	width: 100px;
	height: 40px;
	margin:40px 10px;
}	
.delete-form__button_border_white{
	border:1px solid #fff;
}	
.delete-form__close {
	position:absolute;
	top:14px;
	right:14px;
}	
.delete-form__close:hover {
	cursor:pointer;
}	
.delete-form__delete-text_white {
	color:#fff;
}	
.delete-form_style_white{	
border: solid 1px #e5e5e5;	
}
	
/*Switcher*/
.switcher{
	position:relative;
}
.switcher:hover {
	cursor:pointer;
}
.switcher__switcher-input {
	display:none;
}
.switcher__switcher-visible {
	display:inline-block;
	position:relative;
	width: 70px;
	height: 30px;
	border-radius: 100px;
	background-color: rgba(229, 229, 229, 0.5);
	
}
.switcher__switcher-visible__left {
	position:absolute;
	left:8px;
	top:8px;
	z-index:3;
}
.switcher__switcher-visible__right {
	position:absolute;
	right:10px;
	top:8px;
	z-index:3;
}
.switcher__switcher-visible__slider {
	width:36px;
	height:36px;
	border-radius:50%;
	background-color:#fff;
	position:absolute;
	left:0;
	top:-3px;
	z-index:2;
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
	box-shadow: 0 5px 10px rgba(0,0,0,0.3);
}
.right, .left{
	-webkit-transition: all 0.25s ease-in-out;
}
.switcher__switcher-input:checked + .switcher__switcher-visible .switcher__switcher-visible__slider{
	left:34px;
}
.switcher__switcher-input:checked + .switcher__switcher-visible .switcher__switcher-visible__left .left {
	fill:#9B9B9B;
}
.switcher__switcher-input:checked + .switcher__switcher-visible .switcher__switcher-visible__right .right {
	fill:#1E8BC3;
}
.switcher__ON-OFF {
	background-color: #d35400;
}
.switcher__switcher-visible__ON, .switcher__switcher-visible__OFF {
	font-size: 10px;
	font-weight: 600;
	line-height: 1.8;
	color:#fff;
}
.switcher__switcher-visible__ON {
	position:absolute;
	left:12px;
	top:6px;
}
.switcher__switcher-visible__OFF {
	position:absolute;
	right:12px;
	top:6px;
}
.switcher__ON-OFF {
	-webkit-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.switcher__switcher-input:checked + .switcher__ON-OFF {
	background-color: #26c281;
}

.switcher-number {
	width: 115px;
	height: 36px;
	border-radius: 100px;
	background-color: rgba(229, 229, 229, 0.5);
	position:relative;
}
.switcher-number__prev, .switcher-number__next {
	width: 32px;
	height: 32px;
	border-radius: 100px;
	background-color: #ffffff;
	border: solid 1px #e5e5e5;
}
.switcher-number__prev {
	position:absolute;
	left:2px;
	top:2px;
}
.switcher-number__next {
	position:absolute;
	right:2px;
	top:2px;
}
.switcher-number__prev:hover, .switcher-number__next:hover{
	cursor:pointer;
}
.switcher-number__current {
	font-size: 12px;
	font-weight: 600;
	line-height: 1.5;
	text-align: center;
	color: #2c3239;
	position:absolute;
	left:54px;
	top:10px;
}
.switcher-number__prev__icon-minus {
	position:absolute;
	left:9px;
	top:14px;
}
.switcher-number__next__icon-plus {
	position:absolute;
	right:9px;
	top:10px;
}
.switcher-number__prev__icon-l-arrow {
	position:absolute;
	left:10px;
	top:9px;
}
.switcher-number__next__icon-r-arrow {
	position:absolute;
	right:10px;
	top:9px;
}

/*Progress form*/
.progress-form {
	height: 60px;
}
.progress-form__circle {
	display:inline-block;
	position:relative;
	min-width: 60px;
	height: 60px;
	border-radius:50%;
	z-index:2;
	vertical-align:middle;
	text-align:center;
}
.progress-form__line {
	display:inline-block;
	position:relative;
	width:23%;
	height:2px;
	background-color:black;
	margin:4px -4.5px;
	z-index:1;
}
.progress-form__circle_done {
	background-color: #1e8bc3;
}
.progress-form__circle_in-process {
	background-color: #fff;
	border: solid 2px #1e8bc3;
}
.progress-form__circle_disabled {
	background-color: #fff;
	border: solid 2px #e5e5e5;
}
.progress-form__line_done {
	background-color: #1e8bc3;
}
.progress-form__line_disabled {
	background-color: #e5e5e5;
}
.progress-form__circle__step{
	font-size:12px;
	font-weight: bold;
	line-height: 56px;	
}
.progress-form__circle__step_done {
	display:none;
}
.progress-form__circle__step_in-process {
	color: #2c3239;
}
.progress-form__circle__step_disabled {
	color: #9b9b9b;
}
.progress-form__circle__icon_done {
	position:absolute;
	left:22px;
	top:23px;
}
.progress-form__circle__icon_disabled {
	display:none;
}